@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
body {
    background: #fafafa;
}

body{
    background:rgb(227, 227, 227);
  }
*,p,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
    font-family: "Sora", sans-serif;
}
p,strong{
    font-size: 15px;
}
.logohome img{
    width: 92px;
}
.margin-right-header{
    margin-right: 3rem;
}
.w-70{
    width: 70%;
}
.section-space{
    padding: 4rem 0;
}
footer li {
    display: inline-block;
    padding: 0 5px;
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}
  .carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:white;
  }
  .service-section-one{
    position: relative;
    margin-bottom: 9px;
  }
  .service-section-one:before {
    content: "";
    width: 3px;
    background: #0078C2;
    height: 100%;
    left: 0;
    position: absolute;
}
.portfolio h1 {
    font-size: 2.8rem;
    margin-bottom: 1.4rem;
    line-height: 1.3;
}
.portfolio div {
    align-items: center;
}
.portfolio img {
    height: 21rem;
    object-fit: contain;
}
.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}
.font-17{
    font-size: 17px;
}
.Priorities li::marker{
    font-size: 25px;
}
.bluemarker li::marker {
    color: #0d6efd;
}
@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
